<%- include('commonFiles/head'); -%>
<body>
	<!-- header -->
	<%- include('commonFiles/header'); -%>
	<!-- navigation -->
	<%- include('commonFiles/navigation'); -%>

	<!-- page details -->
	<div class="breadcrumb-agile bg-light py-2">
		<ol class="breadcrumb bg-light m-0">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</div>

	<!-- about -->
	<section class="w3ls-bnrbtm py-2" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section text-center mb-md-1 mb-4">
				<h3 class="w3ls-title mb-1">Weekend <span>Laptop Rent List</span></h3>
				<p class="titile-para-text mx-auto">주말 노트북 대여 현황.</p>
			</div>
			<div class="container text-center border">
				<div class="row bg-success">
					<div class="col border ">
						2-1반
					</div>
					<div class="col border ">
						2-2반
					</div>
					<div class="col border ">
						2-3반
					</div>
					<div class="col border ">
						2-4반
					</div>
				</div>
				<div class="row">
					<div class="col border bg-warning">
					  강권
					</div>
					<div class="col border">
					  김민영
					</div>
					<div class="col border bg-warning">
					  김대기
					</div>
					<div class="col border">
					  이동윤
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- services -->
	<section class="middle py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section text-center mb-md-5 mb-4">
				<p class="w3ls-title-sub">Our Work</p>
				<h3 class="w3ls-title mb-3">Excellent <span>Services</span></h3>
			</div>
			<div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
				<div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
					<div class="row">
						<div class="col-8 wthree_banner_bottom_grid_right text-right">
							<h4 class="mb-3"><a href="/login">Free Shipping</a></h4>
							<p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
						</div>
						<div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
							<img src="images/s1.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

				</div>
				<div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
					<div class="row">
						<div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
							<img src="images/s2.png" alt="" class="img-fluid">
						</div>
						<div class="col-8 wthree_banner_bottom_grid_right">
							<h4 class="mb-3"><a href="/login">Free & Easy Returns</a></h4>
							<p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
				<div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
					<div class="row">
						<div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
							<h4 class="mb-3"><a href="/login">Online Order</a></h4>
							<p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
						</div>
						<div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
							<img src="images/s3.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

				</div>
				<div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
					<div class="row">
						<div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
							<img src="images/s4.png" alt="" class="img-fluid">
						</div>
						<div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
							<h4 class="mb-3"><a href="/login">24/7 Support</a></h4>
							<p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="img-blog-2">
			<img src="images/img.png" alt="" class="img-fluid">
		</div>
	</section>
	<!-- //services -->

	<!-- team -->
	<div class="team py-5" id="chefs">
		<div class="container-fluid py-xl-5 py-lg-3">
			<div class="title-section text-center mb-md-5 mb-4">
				<h3 class="w3ls-title mb-3">Our <span>Star</span></h3>
				<p class="titile-para-text mx-auto">Inventore veritatis et quasi architecto beatae vitae dicta sunt
					explicabo.Nemo
					enim totam rem aperiam.</p>
			</div>
			<div class="row team-bottom pt-4">
				<div class="col-lg-3 col-6 team-grid">
					<a href="#team"><img src="images/t1.png" class="img-fluid" alt=""></a>
					<div class="caption">
						<div class="team-text">
							<h4><a href="#team">Mack Joe</a></h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grid">
					<a href="#team"><img src="images/t2.png" class="img-fluid" alt=""></a>
					<div class="caption">
						<div class="team-text">
							<h4><a href="#team">Cruz Deo</a></h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grid mt-lg-0 mt-4">
					<a href="#team"><img src="images/t3.png" class="img-fluid" alt=""></a>
					<div class="caption">
						<div class="team-text">
							<h4><a href="#team">Rochy Jae</a></h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-6 team-grid  mt-lg-0 mt-4">
					<a href="#team"><img src="images/t4.png" class="img-fluid" alt=""></a>
					<div class="caption">
						<div class="team-text">
							<h4><a href="#team">Rojo Poy</a></h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook f1" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter f2" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus f3" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- footer -->
	<%- include('commonFiles/footer'); -%>
	<!-- //footer -->
</body>

</html>