<div class="main-top py-1">
    <div class="container">
        <div class="nav-content">
            <!-- logo -->
            <h1>
                <a id="logo" class="logo" href="/">
                    <img src="/images/logo.png" alt="" class="img-fluid"><span>management</span>go out
                </a>
            </h1>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_web-dealingsls">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-3" class="toggle toogle-2">Pages <span class="fa fa-angle-down"
                                    aria-hidden="true"></span>
                            </label>
                            <a href="#pages">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-3" />
                            <ul>
                                <li><a class="drop-text" href="/">Services</a></li>
                                <li><a class="drop-text" href="/about">Our Chefs</a></li>
                                <li><a class="drop-text" href="/">Blog</a></li>
                                <li><a class="drop-text" href="/single">Single Page</a></li>
                                <li><a class="drop-text" href="/login">Login</a></li>
                                <li><a class="drop-text" href="/">Register</a></li>
                            </ul>
                        </li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li>
                            <!-- login -->
                            <a href="https://w3layouts.com/" target="_blank" class="dwn-button ml-lg-5">
                                <span class="fa fa-cloud-download mt-lg-0 mt-4" aria-hidden="true"></span>
                            </a>
                            <!-- //login -->
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</div>